<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Stock Calculator - Home</title>
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script src="js/input_validation.js"></script>
    <script src="js/stockAPIFunctions.js"></script>
</head>

<body class="bg-dark text-white">
    <div class="p-5 mb-2 bg-dark bg-gradient position-absolute top-50 start-50 translate-middle rounded-3">
        <h1>Welcome, <%- name %></h1>
        <h3>Your balance: <%- balance %></h3>
        <br>
        <h4>List of Your Current Transactions:</h4>
        <div>
            <%- table %>
        </div>
        <br>
        
        <form action="/home" method="post" onsubmit="return check_ticker_date()">
            <h4>Add a new stock transaction:</h4>            
            <label class="form-label">Date of transaction <input class="form-control" id="dateID" type="date" name="date"/></label>
            <label class="form-label">Ticker Symbol <input class="form-control" type="text" id="stockID" name="stock"/></label>
            <p class="mb-3 red-warnings" id="invalidDateStock"></p>
            <label class="form-label">Number of Stock Purchases <input class="form-control" type="number" name="numStock"/></label>
            <br>
            <br>
            <input class="btn btn-secondary" type="submit" value="Submit Transaction"/>
            
            
        </form>
        <hr>
        <a class="link-light" style="text-decoration: none;" href="/">Signout</a>
    </div>
</body>

</html>