<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Stock Calculator</title>
</head>

<body>
	<h1>Welcome to Stock Calculator</h1>

    <h2>Signup</h2>
    <a href="/signup">Signup</a>
	<hr>

    <h2>Login</h2>
    <a href="/login">Login</a>
    <hr>

</body>

</html>