<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Stock Calculator</title>
</head>

<body>
	<h1>Login</h1>
	<form action="/homeAfterLogin" method="post">
		<fieldset>            
			<label>Username: <input type="text" name="username"/></label>
			<label>Password: <input type="password" name="password"></label>
        </fieldset>
        <br>
		<input type="reset" value="Reset"/>
		<input type="submit" value="Login"/>
	</form>
    <hr>
    <a href="/">HOME</a>

</body>

</html>
