<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Stock Calculator - Signup</title>
</head>

<body>
	<h1>Signup</h1>
	<form action="/homeAfterSignup" method="post">
		<fieldset> 
            <label>Name: <input type="text" name="name"/></label>           
			<label>Username: <input type="text" name="username"/></label>
			<label>Password: <input type="password" name="password"></label>
            <label>Confirm Password: <input type="password"></label>
        </fieldset>
        <br>
		<input type="reset" value="Reset"/>
		<input type="submit" value="Make Account"/>
	</form>
    <hr>
    <a href="/">HOME</a>

</body>

</html>